version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    target-branch: "release-9.x"
    versioning-strategy: "increase-if-necessary"
    reviewers:
      - "opennms/dependabot-reviewers-node"
    labels:
      - "dependabot"
    commit-message:
      prefix: "build"
      include: "scope"
    schedule:
      interval: "daily"
    groups:
      babel-and-eslint:
        patterns:
          - "*babel*"
          - "*eslint*"
        update-types:
          - "minor"
          - "patch"
      grafana:
        patterns:
          - "*grafana*"
        update-types:
          - "minor"
          - "patch"
      jest:
        patterns:
          - "*jest*"
        update-types:
          - "minor"
          - "patch"
      webpack:
        patterns:
          - "*webpack*"
          - "*-loader"
        update-types:
          - "minor"
          - "patch"
