.DS_Store
node_modules
npm-debug.log
coverage/
.aws-config.json
awsconfig
/tmp

docs/AWS_S3_BUCKET
docs/GIT_BRANCH
docs/VERSION
docs/GITCOMMIT
docs/changed-files
docs/changed-files

# locally required config files
public/css/*.min.css

# Editor junk
*.sublime-workspace
*.swp
.idea/
*.iml

/data/*
/bin/*

conf/custom.ini

# Antora documentation
public/
build/

# Not ready yet
/dist

# Debian package droppings
/dist/opennms-grafana-plugin
*.dsc
*.tar.gz
*.deb
*.changes

# final resting place of binary packages
/artifacts

# do not want package-lock.json and yarn.lock at the same time
# remove this from .gitignore if we move to yarn from npm
yarn.lock

# linter droppings
.eslintcache
