node_modules
npm-debug.log
yarn-error.log
coverage/
.aws-config.json
awsconfig
/emails/dist
/public_gen
/tmp
vendor/phantomjs/phantomjs
vendor/opennms*.js*

docs/AWS_S3_BUCKET
docs/GIT_BRANCH
docs/VERSION
docs/GITCOMMIT
docs/changed-files
docs/changed-files

# locally required config files
public/css/*.min.css

# Editor junk
*.sublime-workspace
*.swp
.idea/
*.iml

/data/*
/bin/*

conf/custom.ini
fig.yml
profile.cov
grafana
.notouch

# AsciiBinder documentation preview and package
docs/_preview
docs/_package

# Not ready yet
/dist
/SPECS
/SOURCES

# Debian package droppings
/dist/opennms-helm
*.dsc
*.tar.gz
*.deb
*.changes
