<div class="modal-body" style="overflow: scroll;" dynamic-height>
    <div class="modal-header">
        <h2 class="modal-header-title">
            <a href="{{ alarm.detailsPage }}" target="_blank"><i class="fa fa-external-link"></i></a>
            <span class="p-l-1">Alarm Details</span>
        </h2>

        <ul class="gf-tabs">
            <li class="gf-tabs-item" ng-repeat="tab in tabs">
                <a class="gf-tabs-link" ng-click="editor.index = $index" ng-class="{active: editor.index === $index}">
                    {{::tab}}
                </a>
            </li>
        </ul>

        <a class="modal-header-close" ng-click="ctrl.dismiss();">
            <i class="fa fa-remove"></i>
        </a>
    </div>

    <div class="modal-content">
        <div ng-if="editor.index == 0">
            <table class="filter-table gf-form-group alarm-details-table">
                <tr>
                    <td>UEI</td>
                    <td>{{alarm.uei}}</td>
                </tr>
                <tr>
                    <td>Severity</td>
                    <td><i class="icon" ng-class="severityIcon"></i> {{alarm.severity.label}}</td>
                </tr>
                <tr>
                    <td>Log Message</td>
                    <td ng-bind-html="alarm.logMessage"></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td ng-bind-html="alarm.description"></td>
                </tr>
                <tr ng-if="alarm.operatorInstructions">
                    <td>Operator Instructions</td>
                    <td ng-bind-html="alarm.operatorInstructions"></td>
                </tr>
            </table>
            <table class="filter-table gf-form-group alarm-details-table">
                <tr>
                    <td>Last Event Time</td>
                    <td>{{alarm.lastEvent.time}}</td>
                </tr>
                <tr>
                    <td>First Event Time</td>
                    <td>{{alarm.firstEventTime}}</td>
                </tr>
                <tr>
                    <td>Count</td>
                    <td>{{alarm.count}}</td>
                </tr>
                <tr>
                    <td>Reduction Key</td>
                    <td>{{alarm.reductionKey}}</td>
                </tr>
            </table>
        </div>

        <div ng-hide="editor.index != 1">
            <div class="row">
                <div class="col-md-12">
                  <h3>Sticky Memo</h3>
                  <memo-editor alarm="alarm" type="sticky" source="source"></memo-editor>
                </div>
            </div>
            <div class="row" style="padding-top: 50px">
                <div class="col-md-12">
                    <h3>Journal Memo</h3>
                    <memo-editor alarm="alarm" type="journal" source="source"></memo-editor>
                </div>
            </div>
        </div>

        <div ng-if="editor.index == 2">
            <table class="filter-table gf-form-group">
                <tr>
                    <td>Ticket ID</td>
                    <td ng-if="!alarm.troubleTicketLink">{{(alarm.troubleTicket || 'N/A')}}</td>
                    <td ng-if="alarm.troubleTicketLink"><a href="{{alarm.troubleTicketLink}}" target="_blank">{{alarm.troubleTicket || 'N/A'}}</a></td>
                </tr>
                <tr>
                    <td>Ticket State</td>
                    <td>{{alarm.troubleTicketState.label || 'N/A'}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
