<div class="table-panel-container">
    <div class="table-panel-header-bg" ng-show="ctrl.table.rows.length"></div>
    <div class="table-panel-scroll" ng-show="ctrl.table.rows.length">
        <table class="table-panel-table">
            <thead>
            <tr>
                <th ng-repeat="col in ctrl.table.columns" ng-hide="col.hidden">
                    <div class="table-panel-table-header-inner pointer" ng-click="ctrl.toggleColumnSort(col, $index)">
                        {{col.title}}
                        <span class="table-panel-table-header-controls" ng-if="col.sort">
								<i class="fa fa-caret-down" ng-show="col.desc"></i>
								<i class="fa fa-caret-up" ng-hide="col.desc"></i>
							</span>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in ctrl.table.rows" ng-hide="row.hidden">
                <td ng-repeat="cell in row">{{ cell }}</td>
                <td>
                    <div class="gf-form">
                        <label class="gf-form-label dropdown">
                            <a class="pointer dropdown-toggle" data-toggle="dropdown" tabindex="1">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li role="menuitem">
                                    <a tabindex="1" ng-click="ctrl.acknowledgeAlarm(row)">Acknowledge</a>
                                </li>
                                <li role="menuitem">
                                    <a tabindex="1" ng-click="ctrl.unacknowledgeAlarm(row)">UnAcknowledge</a>
                                </li>
                                <li role="menuitem">
                                    <a tabindex="1" ng-click="ctrl.moveQuery(-1)">Clear</a>
                                </li>
                                <li role="menuitem">
                                    <a tabindex="1" ng-click="ctrl.moveQuery(1)">Escalate</a>
                                </li>
                                <li role="menuitem">
                                    <a tabindex="1" ng-click="ctrl.moveQuery(1)">Create Ticket</a>
                                </li>
                                <li role="menuitem">
                                    <a tabindex="1" ng-click="ctrl.moveQuery(1)">Update Ticket</a>
                                </li>
                                <li role="menuitem">
                                    <a tabindex="1" ng-click="ctrl.moveQuery(1)">Close Ticket</a>
                                </li>
                            </ul>
                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="datapoints-warning" ng-show="ctrl.table.rows.length===0">
	<span class="small" >
		No data to show <tip>Nothing returned by data query</tip>
	</span>
</div>
<div class="table-panel-footer">
</div>