<div class="table-panel-container" ng-class="'opennms-theme-' + (ctrl.panel.theme ? ctrl.panel.theme : 'helm')">
    <div class="table-panel-header-bg" ng-show="ctrl.table.rows.length"></div>
    <div class="table-panel-scroll" ng-style="!ctrl.panel.scroll && {'overflow': 'visible'}" ng-show="ctrl.table.rows.length">
        <table class="table-panel-table dense-table-panel-table alarm-table">
            <thead>
            <tr>
                <th ng-repeat="col in ctrl.table.columns" ng-if="!col.hidden" ng-style="getColumnStyle(col)">
                    <div class="table-panel-table-header-inner pointer" ng-click="ctrl.toggleColumnSort(col, $index)">
                        {{col.title}}
                        <span class="table-panel-table-header-controls" ng-if="col.sort">
                            <i class="fa fa-caret-down" ng-show="col.desc"></i>
                            <i class="fa fa-caret-up" ng-hide="col.desc"></i>
                        </span>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody class="severity"></tbody>
        </table>
    </div>
</div>
<div class="datapoints-warning" ng-show="ctrl.table.rows.length===0">
	<span class="small" >
		No data to show <tip>Nothing returned by data query</tip>
	</span>
</div>
<div class="table-panel-footer">
        <div class="export navbar-buttons" ng-if="ctrl.table.rows.length">
            <button class="btn navbar-button export-button-csv" title="Export to CSV" ng-click="ctrl.exportCSV()"><i class="fa fa-table"></i></button>
            <button class="btn navbar-button export-button-xls" title="Export to Excel" ng-click="ctrl.exportExcel()"><i class="fa fa-file-excel-o"></i></button>
        </div>
        <div class="pagination"></div>
</div>