version: 2.1

executors:

  build-executor-centos:
    docker:
      - image: opennms/build-env:11.0.14_9-3.8.7-b9528

  build-executor-debian:
    docker:
      - image: opennms/build-env:debian-jdk11-b9483

  node-executor:
    docker:
      - image: cimg/node:lts

  docs-executor:
    docker:
      - image: opennms/antora:2.3.4-b7274

orbs:
  cloudsmith: cloudsmith/cloudsmith@1.0.4
  sign-packages: opennms/sign-packages@3.0.1

defaults: &defaults
  parameters:
    from_branch:
      description: the auto-merge source branch
      type: string
      default: develop
    to_branch:
      description: the auto-merge target branch
      type: string
      default: master

docker_container_config: &docker_container_config
  executor: node-executor

commands:
  docker-registry-login:
    description: "Connect to Docker Registry"
    steps:
      - run:
          name: DockerHub Login
          command: |
            docker login -u ${DOCKERHUB_LOGIN} -p ${DOCKERHUB_PASS}
  generate-node-cache-checksum:
    steps:
      - run:
          name: Generate Node Package Checksum
          command: |
            cat package-lock.json | jq '.packages | with_entries(select(.key != ""))' > /tmp/filtered-package-lock.json
  install-node-dependencies:
    steps:
      - generate-node-cache-checksum
      - restore_cache:
          name: Restore NPM Cache
          keys:
            - npm-packages-v3-{{ checksum "/tmp/filtered-package-lock.json" }}-{{ .Branch }}-{{ .Revision }}
            - npm-packages-v3-{{ checksum "/tmp/filtered-package-lock.json" }}-{{ .Branch }}
            - npm-packages-v3-{{ checksum "/tmp/filtered-package-lock.json" }}-
            - npm-packages-v3-
      - run:
          name: Install Dependencies
          command: npm --no-progress ci
  save-node-cache:
    steps:
      - generate-node-cache-checksum
      - run:
          name: Clean Old Cache Entries
          command: |
              if [ -d ~/.npm ]; then
                find ~/.npm -maxdepth 2 -type d -ctime +14 -exec rm -rf {} \;
              fi
      - save_cache:
          name: Save Package Cache
          key: npm-packages-v3-{{ checksum "/tmp/filtered-package-lock.json" }}-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/.npm
  build-and-sign:
    steps:
      - run:
          name: Run Build, Tests, and Sign
          command: |
            export PATH="./node_modules/.bin:${PATH}"
            export NODE_OPTIONS=--openssl-legacy-provider
            node --optimize-for-size --memory-reducer --max-old-space-size=12288 "$(command -v webpack)" -c ./webpack.config.ts --env production
            node --optimize-for-size --memory-reducer --max-old-space-size=12288 "$(command -v npx)" --yes @grafana/sign-plugin@latest
            unset NODE_OPTIONS
            
jobs:
  pre-build:
    executor: node-executor
    resource_class: small
    steps:
      - checkout
      - run:
          name: Get version number
          command: ./get-version.sh
      - persist_to_workspace:
          root: ~/
          paths:
            - project
  build:
    executor: node-executor
    resource_class: large
    steps:
      - attach_workspace:
          at: ~/
      - add_ssh_keys:
          fingerprints:
            - "66:40:61:8c:3b:99:12:df:00:ea:68:a3:61:d1:90:49"
      - run:
          name: Set Up Github Host Key
          command: |
              mkdir -p ~/.ssh
              chmod 700 ~/.ssh
              echo "|1|+eDL4BFAY1JfZjrxrJX0cahBtVU=|g91UxzJnqBKdJvCxPmTD59vtPV4= ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==" >> ~/.ssh/known_hosts
              echo "|1|SZ/U1VP2X+BY4ewvW3j9yIQDXTU=|34DiVLA+NU6P9Acg0Fk5LSbxIdg= ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==" >> ~/.ssh/known_hosts
              echo "|1|jopvDXD+uqD0jpXcT1YtIRhc8jQ=|KkoqYK0ZpHiiNZE6GBiYlI3cRmQ= ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==" >> ~/.ssh/known_hosts
              chmod 600 ~/.ssh/known_hosts
      - install-node-dependencies
      - build-and-sign
      - save-node-cache
      - store_test_results:
          path: coverage
      - store_artifacts:
          path: coverage
      - persist_to_workspace:
          root: ~/
          paths:
            - project

  build-docs:
    executor: docs-executor
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Validate Xrefs in docs
          command: |
            NODE_PATH="$(npm -g root)" antora --generator @antora/xref-validator local-site.yml
      - run:
          name: Generate HTML output for documentation
          command: |
            NODE_PATH="$(npm -g root)" antora --stacktrace generate local-site.yml
      - store_artifacts:
          path: build/site.zip
          destination: site.zip

      - persist_to_workspace:
          root: ~/
          paths:
            - project/public
            - project/build

  create-merge-branch:
    <<: *defaults
    <<: *docker_container_config
    resource_class: medium+
    steps:
      - add_ssh_keys:
          fingerprints:
            - "66:40:61:8c:3b:99:12:df:00:ea:68:a3:61:d1:90:49"
      - checkout
      - run:
          name: Create git identity
          command: |
            git config user.email "cicd-system@opennms.com"
            git config user.name "CI/CD System"
      - run:
          name: Checkout target branch and merge from source
          command: |
            export GIT_MERGE_AUTOEDIT=no
            git checkout "<< parameters.to_branch >>"
            git pull
            git merge "origin/<< parameters.from_branch >>"
      - install-node-dependencies
      - build-and-sign
      - run:
          name: Push to github
          command: git push

  make-tarball:
    executor: build-executor-centos
    resource_class: small
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Create plugin tarball
          command: |
            mkdir -p ./artifacts
            cd dist
            tar --exclude='test' \
              -czf "../artifacts/opennms-helm_$(../.circleci/get-version.sh).tar.gz" .
      - store_artifacts:
          path: ~/project/artifacts
      - persist_to_workspace:
          root: ~/
          paths:
            - ./project/artifacts
            - ./project/package.json
            - ./project/version.tag

  make-zip:
    executor: build-executor-centos
    resource_class: small
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Create Plugin ZIP File
          command: |
            ./makezip.js
      - store_artifacts:
          path: ./artifacts
      - persist_to_workspace:
          root: ~/
          paths:
            - ./project/artifacts

  make-docker-image:
    executor: node-executor
    resource_class: small
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: ~/
      - run:
          name: Build Docker Image
          command: |
            echo "version: $(.circleci/get-version.sh)"
            docker build \
              --build-arg GRAFANA_VERSION=$(cat grafana.version) \
              -t helm:$(.circleci/get-version.sh) .
      - run:
          name: Export Docker Image as Artifact
          command: docker image save helm:$(.circleci/get-version.sh) -o opennms-helm.oci
      - store_artifacts:
          path: ./opennms-helm.oci
      - persist_to_workspace:
          root: ~/
          paths:
            - ./project/opennms-helm.oci
  make-rpm:
    executor: build-executor-centos
    resource_class: small
    steps:
      - attach_workspace:
          at: ~/
      - sign-packages/install-rpm-dependencies:
          skip_if_forked_pr: true
      - sign-packages/setup-env:
          skip_if_forked_pr: true
      - run:
          name: Create RPM package
          command: |
            RELEASE="0.$(.circleci/get-version.sh | cut -d- -f2-)"
            if [ "$(grep -c -- -SNAPSHOT package.json)" -eq 0 ]; then
              RELEASE=1
            fi
            ./makerpm.js --release "$RELEASE"
      - sign-packages/sign-rpms:
          skip_if_forked_pr: true
          gnupg_key: opennms@opennms.org
          packages: artifacts/*.rpm
      - store_artifacts:
          path: ./artifacts
      - persist_to_workspace:
          root: ~/
          paths:
            - ./project/artifacts

  make-deb:
    executor: build-executor-debian
    resource_class: small
    steps:
      - attach_workspace:
          at: ~/
      - sign-packages/install-deb-dependencies:
          skip_if_forked_pr: true
      - sign-packages/setup-env:
          skip_if_forked_pr: true
      - run:
          name: Create DEB package
          command: |
            RELEASE="0.$(.circleci/get-version.sh | cut -d- -f2-)"
            if [ "$(grep -c -- -SNAPSHOT package.json)" -eq 0 ]; then
              RELEASE=1
            fi
            ./makedeb.js --release "$RELEASE"
      - sign-packages/sign-debs:
          skip_if_forked_pr: true
          gnupg_key: opennms@opennms.org
          packages: artifacts/*.deb
      - store_artifacts:
          path: ./artifacts
      - persist_to_workspace:
          root: ~/
          paths:
            - ./project/artifacts

  publish-docker-image-latest:
    executor: node-executor
    resource_class: small
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: ~/
      - docker-registry-login
      - run:
          name: Load Docker Container Image file
          command: |
            docker image load -q -i ./opennms-helm.oci | grep 'Loaded image:' | cut -d: -f2- | xargs > ./helm-docker-image-name.txt
      - run:
          name: Set DockerHub organization and ensure lower case
          command: |
            if [ -z ${DOCKERHUB_PROJECT_USER+x} ]; then
                DOCKERHUB_PROJECT_USER=$(echo "${CIRCLE_PROJECT_USERNAME}" | tr '[:upper:]' '[:lower:]')
                echo "export DOCKERHUB_PROJECT_USER=${DOCKERHUB_PROJECT_USER}" >> ${BASH_ENV}
                echo "Use CIRCLE_PROJECT_USERNAME instead which is set to ${DOCKERHUB_PROJECT_USER}."
            else
                DOCKERHUB_PROJECT_USER=$(echo "${DOCKERHUB_PROJECT_USER}" | tr '[:upper:]' '[:lower:]')
                echo "export DOCKERHUB_PROJECT_USER=${DOCKERHUB_PROJECT_USER}" >> ${BASH_ENV}
                echo "Overwrite DOCKERHUB_PROJECT_USER with ${DOCKERHUB_PROJECT_USER}."
            fi
      - run:
          name: Set DockerHub project name and ensure lower case
          command: |
            if [ -z ${DOCKERHUB_PROJECT_NAME+x} ]; then
                DOCKERHUB_PROJECT_NAME=$(echo "${CIRCLE_PROJECT_REPONAME}" | tr '[:upper:]' '[:lower:]')
                echo "export DOCKERHUB_PROJECT_NAME=${DOCKERHUB_PROJECT_NAME}" >> ${BASH_ENV}
                echo "Use CIRCLE_PROJECT_REPONAME instead which is set to ${DOCKERHUB_PROJECT_NAME}."
            else
                DOCKERHUB_PROJECT_NAME=$(echo "${DOCKERHUB_PROJECT_NAME}" | tr '[:upper:]' '[:lower:]')
                echo "export DOCKERHUB_PROJECT_NAME=${DOCKERHUB_PROJECT_NAME}" >> ${BASH_ENV}
                echo "Overwrite DOCKERHUB_PROJECT_NAME with ${DOCKERHUB_PROJECT_NAME}."
            fi
      - run:
          name: Tag Docker Container Images for release and publish to DockerHub
          command: |
            HELM_IMAGE_NAME="$(cat ./helm-docker-image-name.txt)"
            docker tag "${HELM_IMAGE_NAME}" ${DOCKERHUB_PROJECT_USER}/${DOCKERHUB_PROJECT_NAME}:$(.circleci/get-version.sh)
            docker tag "${HELM_IMAGE_NAME}" ${DOCKERHUB_PROJECT_USER}/${DOCKERHUB_PROJECT_NAME}:latest
            docker push ${DOCKERHUB_PROJECT_USER}/${DOCKERHUB_PROJECT_NAME}:$(.circleci/get-version.sh)
            docker push ${DOCKERHUB_PROJECT_USER}/${DOCKERHUB_PROJECT_NAME}:latest

  publish-docker-image-bleeding:
    executor: node-executor
    resource_class: small
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: ~/
      - docker-registry-login
      - run:
          name: Load Docker Container Image file
          command: |
            docker image load -q -i ./opennms-helm.oci | grep 'Loaded image:' | cut -d: -f2- | xargs > ./helm-docker-image-name.txt
      - run:
          name: Set DockerHub organization and ensure lower case
          command: |
            if [ -z ${DOCKERHUB_PROJECT_USER+x} ]; then
                DOCKERHUB_PROJECT_USER=$(echo "${CIRCLE_PROJECT_USERNAME}" | tr '[:upper:]' '[:lower:]')
                echo "export DOCKERHUB_PROJECT_USER=${DOCKERHUB_PROJECT_USER}" >> ${BASH_ENV}
                echo "Use CIRCLE_PROJECT_USERNAME instead which is set to ${DOCKERHUB_PROJECT_USER}."
            else
                DOCKERHUB_PROJECT_USER=$(echo "${DOCKERHUB_PROJECT_USER}" | tr '[:upper:]' '[:lower:]')
                echo "export DOCKERHUB_PROJECT_USER=${DOCKERHUB_PROJECT_USER}" >> ${BASH_ENV}
                echo "Overwrite DOCKERHUB_PROJECT_USER with ${DOCKERHUB_PROJECT_USER}."
            fi
      - run:
          name: Set DockerHub project name and ensure lower case
          command: |
            if [ -z ${DOCKERHUB_PROJECT_NAME+x} ]; then
                DOCKERHUB_PROJECT_NAME=$(echo "${CIRCLE_PROJECT_REPONAME}" | tr '[:upper:]' '[:lower:]')
                echo "export DOCKERHUB_PROJECT_NAME=${DOCKERHUB_PROJECT_NAME}" >> ${BASH_ENV}
                echo "Use CIRCLE_PROJECT_REPONAME instead which is set to ${DOCKERHUB_PROJECT_NAME}."
            else
                DOCKERHUB_PROJECT_NAME=$(echo "${DOCKERHUB_PROJECT_NAME}" | tr '[:upper:]' '[:lower:]')
                echo "export DOCKERHUB_PROJECT_NAME=${DOCKERHUB_PROJECT_NAME}" >> ${BASH_ENV}
                echo "Overwrite DOCKERHUB_PROJECT_NAME with ${DOCKERHUB_PROJECT_NAME}."
            fi
      - run:
          name: Tag Docker Container Images for bleeding and publish to DockerHub
          command: |
            HELM_IMAGE_NAME="$(cat ./helm-docker-image-name.txt)"
            docker tag "${HELM_IMAGE_NAME}" ${DOCKERHUB_PROJECT_USER}/${DOCKERHUB_PROJECT_NAME}:bleeding
            docker push ${DOCKERHUB_PROJECT_USER}/${DOCKERHUB_PROJECT_NAME}:bleeding

  publish-rpm:
    executor: cloudsmith/default
    resource_class: small
    steps:
      - attach_workspace:
          at: ~/
      - cloudsmith/ensure-api-key
      - cloudsmith/install-cli
      - cloudsmith/publish:
          cloudsmith-repository: opennms/common-testing
          package-format: rpm
          package-distribution: any-distro/any-version
          package-path: artifacts/*.rpm

  publish-deb:
    executor: cloudsmith/default
    resource_class: small
    steps:
      - attach_workspace:
          at: ~/
      - cloudsmith/ensure-api-key
      - cloudsmith/install-cli
      - cloudsmith/publish:
          cloudsmith-repository: opennms/common-testing
          package-format: deb
          package-distribution: any-distro/any-version
          package-path: artifacts/*.deb

workflows:
  version: 2
  build-workflow:
    <<: *defaults
    jobs:
      - pre-build:
          filters:
            tags:
              only: /^v.*/
      - build:
          context: grafana
          requires:
            - pre-build
          filters:
            tags:
              only: /^v.*/
      - build-docs:
          requires:
            - pre-build
          filters:
            tags:
              only: /^v.*/
      - create-merge-branch:
          # these all imply "build", plus "make-docker-image" implies "make-tarball"
          requires:
            - make-deb
            - make-docker-image
            - make-rpm
            - make-zip
            - publish-deb
            - publish-docker-image-bleeding
            - publish-docker-image-latest
            - publish-rpm
          filters:
            branches:
              only:
                - /^release-.*/
                - develop
      - make-tarball:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
      - make-docker-image:
          context:
            - "docker-publish-account"
          requires:
            - make-tarball
          filters:
            tags:
              only: /^v.*/
      - make-rpm:
          context:
            - "gpg-signing"
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
      - make-deb:
          context:
            - "gpg-signing"
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
      - make-zip:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
      - publish-docker-image-latest:
          context:
            - "cloudsmith-publish-account"
            - "docker-publish-account"
            - "Service Principal"
          requires:
            - make-docker-image
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - publish-docker-image-bleeding:
          context:
            - "cloudsmith-publish-account"
            - "docker-publish-account"
            - "Service Principal"
          requires:
            - make-docker-image
          filters:
            branches:
              only: master
            tags:
              ignore: /^v.*/
      - publish-deb:
          context:
            - "cloudsmith-publish-account"
          requires:
            - make-deb
          filters:
            branches:
              only:
                - develop
            tags:
              ignore: /^v.*/
      - publish-rpm:
          context:
            - "cloudsmith-publish-account"
          requires:
            - make-rpm
          filters:
            branches:
              only:
                - develop
            tags:
              ignore: /^v.*/
