<datasource-http-settings current="ctrl.current">
</datasource-http-settings>
<onms-timeout-settings current="ctrl.current">
</onms-timeout-settings>

<h3 class="page-heading">OpenNMS FM Datasource Details</h3>
<div class="gf-form-group">
    <div class="gf-form-inline">
        <gf-form-switch class="gf-form"
                        label="Use Grafana user"
                        tooltip="Used to control whether operations on alarms are performed the data source user, or the user that is currently logged in to Grafana.
                                 Supported operations are escalating, clearing, un-/acknowledging alarms as
                                 well as creating/updating a journal/memo.
                                 NOTE: The data source must be configured using an user with the 'admin' role in order to perform actions as other users."
                        checked="ctrl.current.jsonData.useGrafanaUser"
                        label-class="width-11"
                        switch-class="max-width-6">
        </gf-form-switch>

        <div class="gf-form" ng-show="ctrl.current.jsonData.useGrafanaUser">
            <label for="{{ctrl.id}}-grafana-user-field" class="gf-form-label pointer">
                Field
                <info-popover mode="right-normal" position="top center">
                    Defines which field of the Grafana User should be used.
                    This allows for fine grained control over the value displayed as the "Action-Performing User" in OpenNMS. <br/>
                    <b>Examples</b>:
                     - login: ulf <br/>
                     - name: Ulf Blaskowitz <br/>
                     - email: ulf@opennms.org <br/>
                    <b>Default</b>: login
                </info-popover>
            </label>
            <div class="gf-form-select-wrapper max-width-30">
                <select id="{{ctrl.id}}-grafana-user-field"
                        class="gf-form-input gf-size-auto"
                        ng-model="ctrl.current.jsonData.grafanaUserField">
                    <option value="login">login</option>
                    <option value="name">name</option>
                    <option value="email">email</option>
                </select>
            </div>

        </div>
    </div>
</div>