<div>
    <div class="gf-form-inline" ng-repeat="clause in query.clauses">

        <!-- WHERE or Operator -->
        <div class="gf-form" style="height: 100%; vertical-align: top;">
            <label ng-if="$index == 0" class="gf-form-label query-keyword width-8">WHERE</label>
            <metric-segment class="width-8" ng-if="$index > 0" segment="clause.operator" get-options="getSuggestions(clause, clause.operator, $index)" on-change="segmentUpdated(clause, clause.operator, $index)"></metric-segment>
        </div>
        <div ng-repeat="segment in clause.restriction.segments" class="gf-form">
            <metric-segment segment="segment" get-options="getSuggestions(clause, segment, $index)" on-change="segmentUpdated(clause, segment, $index)"></metric-segment>
        </div>

        <!-- controls for the current clause -->
        <div class="gf-form" style="position: absolute; right: 140px; margin-right: 0px; padding-top: 2px;">
            <button class="btn btn-inverse gf-form-btn" title="{{control.title}}" ng-click="performClick(clause, control)" ng-repeat="control in clause.controls">
                <i class="fa {{control.icon}}"></i>
            </button>
        </div>

        <!-- add nested if exists -->
        <onms-query style="padding-left: 50px; padding-top: 0px" query="clause.restriction" datasource="datasource" query-ctrl="queryCtrl" hide-where="true" ng-if="clause.restriction.clauses">
        </onms-query>

    </div>

    <div ng-if="query.root" class="gf-form-inline">
        <label class="gf-form-label query-keyword width-8">
            ORDER BY
            <info-popover>
                Note: "ORDER BY" only affects the data as queried from OpenNMS.
                Sorting in the table will override this order, but it can be useful to sort at query-time for queries with a 'Limit' set.
            </info-popover>
        </label>
        <div class="gf-form-select-wrapper">
            <select id="order"
                    class="gf-form-input gf-size-auto"
                    ng-change="orderUpdated(query)"
                    ng-model="query.order"
                    ng-options="order as order.label for order in query.orders">
            </select>
        </div>
        <span ng-repeat="order in query.orderBy">
            <span ng-if="order.isFake()">
                <metric-segment segment="order.segment" get-options="getOrderSuggestions(order.segment)" on-change="orderByUpdated(order, order.segment, $index)"></metric-segment>
            </span>
            <label ng-if="!order.isFake()" class="gf-form-inline gf-form-label gf-size-auto">
                <i class="pointer fa fa-remove" ng-click="removeOrderBy(order, $index)"></i>
                {{order.getAttribute()}}
            </label>
        </span>
    </div>
</div>