.query-keyword {
  width: 110px;
}

.input-error {
  color: rgb(229, 189, 28);
}

.tight-form .help-block {
  margin-left: 5px;
}

.info {
  background-color: #000000;
}

.modal-selector {
  display: block;
  height: 350px;
  overflow-y: scroll
}
