<div class="editor-row filter-panel">
    <div class="section gf-form-group">
        <h5 class="section-heading">Filter Columns:</h5>
        <div class="gf-form-label gf-size-auto" ng-if="editor.panel.columns &amp;&amp; editor.panel.columns.length &gt; 0">
            Using datasource: {{editor.panel.columns[0].datasource}}
        </div>

        <div class="gf-form column-reorder filter-column" ng-repeat="column in editor.panel.columns" id="column-{{$index}}" draggable="true">
            <div class="gf-form-inline gf-form-label">
                <i class="pointer fa fa-remove" ng-click="editor.removeColumn(column, $index)"></i>
                <span class="onms-label width-12">{{column.text}}</span>
            </div>
            <div class="gf-form-inline">
                <div class="gf-form-select-wrapper">
                    <select class="gf-form-input gf-size-auto"
                        ng-model="column.inputType"
                        ng-change="ctrl.variableChanged(column, $index)">
                        <option value="single">Single</option>
                        <option value="multi">Multi</option>
                        <option value="text">Text</option>
                    </select>
                </div>
            </div>
            <div class="gf-form-inline">
                <span class="gf-form-label gf-size-10">Label:</span>
                <input type="text" id="label-{{$index}}" ng-model="column.label" class="gf-form-input" ng-change="ctrl.variableChanged(column, $index)">
            </div>
        </div>
        <div class="gf-form" id="alarm-filter-editor-add-column">
            <div class="gf-form">
                <span class="gf-form-label gf-size-auto">Data source entity:</span>
                <div class="gf-form-select-wrapper" ng-if="!editor.panel.columns || editor.panel.columns.length === 0">
                    <select class="gf-form-input gf-size-auto"
                        ng-model="current.datasource"
                        ng-change="editor.updateCurrent()"
                        ng-options="f.value for f in datasources track by f.name"
                        required>
                        <option value="" ng-if="false"></option>
                    </select>
                </div>
            </div>
            <div class="gf-form-select-wrapper" ng-if="current.datasourceType === 'opennms-helm-entity-datasource'">
                <select class="gf-form-input gf-size-auto"
                        ng-model="current.entityType"
                        ng-change="editor.updateCurrent()"
                        ng-options="type as type.label for type in editor.entityTypes track by type.id">
                </select>
            </div>
        </div>
    </div>
</div>
