@import '~opennms-style/opennms';

// If you add a theme here, you must also give it an entry in
// alarm-table/editor.js for the editor drop-down.

$severity-themes: (
  'helm': (
    'cleared': #EEE000,
    'indeterminate': #999000,
    'normal': #86B15B,
    'warning': #FCCC3B,
    'minor': #EE901C,
    'major': #E3692F,
    'critical': #DB4345,
  ),
  'opennms': (
    'cleared': $opennms-severity-cleared-dark,
    'indeterminate': $opennms-severity-indeterminate-dark,
    'normal': $opennms-severity-normal-dark,
    'warning': $opennms-severity-warning-dark,
    'minor': $opennms-severity-minor-dark,
    'major': $opennms-severity-major-dark,
    'critical': $opennms-severity-critical-dark,
  ),
  'omi': (
    'cleared': #cccccc,
    'indeterminate': #614765,
    'normal': #00b48b,
    'warning': #00d3c9,
    'minor': #ffce56,
    'major': #ff9033,
    'critical': #ff3b50,
  ),
  'nnmi': (
    'cleared': $opennms-severity-cleared-dark, /* no cleared in nnmi */
    'indeterminate': $opennms-severity-indeterminate-dark, /* no indeterminate in nnmi */
    'normal': #a1cc72, /* outline: #5a8f44 */
    'warning': #6ec5c6, /* outline: #488c8c, */
    'minor': #f9df6c, /* outline: #c09e43 */
    'major': #dda35c, /* outline: #775337 */
    'critical': #ea3225, /* outline: #a82119 */
  ),
  'netcool': (
    'cleared': #5dc93b, /* acknowledged: #3d8825 */
    'indeterminate': #a44ae6, /* acknowledged: #602b86 */
    'normal': #cccccc, /* no normal in netcool */
    'warning': #76b7f9, /* acknowledged: #5f93c8 */
    'minor': #fffd54, /* acknowledged: #cecc42 */
    'major': #f4b54b, /* acknowledged: #ab6623 */
    'critical': #eb3223, /* #bc261a */
  ),
) !default;

@mixin opennms-themify($property, $lighten, $key, $themes: $severity-themes) {
  @each $theme, $colors in $themes {
    $theme-color: null;
    @if $lighten {
      $theme-color: lighten(map-get($colors, $key), 25%);
    }
    @else {
      $theme-color: map-get($colors, $key);
    }
    &.opennms-theme-#{$theme}, .opennms-theme-#{$theme} & {
      #{$property}: $theme-color;
    }
  }
}

@mixin severity-color($arguments...) {
  @include opennms-themify('color', false, $arguments...);
}
@mixin severity-background-color($arguments...) {
  @include opennms-themify('background-color', false, $arguments...);
}
@mixin severity-border-color($arguments...) {
  @include opennms-themify('border-color', false, $arguments...);
}

@mixin severity-color-light($arguments...) {
  @include opennms-themify('color', true, $arguments...);
}
@mixin severity-background-color-light($arguments...) {
  @include opennms-themify('background-color', true, $arguments...);
}
@mixin severity-border-color-light($arguments...) {
  @include opennms-themify('border-color', true, $arguments...);
}
