$ionicons-font-path: '../../../../node_modules/ionicons/fonts';

@import '~ionicons/scss/ionicons';
@import 'colors';
@import 'severity-themes';

$padding-small: 0.25em;
$padding-large: 0.50em;

$grafana-default-table-line-height: 30px;

.table-panel-container {
  padding-top: 2.45em;
}

.table-panel-header-bg {
  height: 2.25em;
}

.table-panel-footer {
  .export {
    float:right;
    margin-top: $padding-small;
    margin-right: $padding-small;
  }
}

.table-panel-table {
  td:first-child, td:last-child {
    &.text-center {
      padding-left: $padding-small;
      padding-right: $padding-small;
    }
  }
}

.dense-table-panel-table {
  td:first-child, td:last-child {
    &.text-center {
      padding-left: $padding-small;
      padding-right: $padding-small;
    }
  }
}

.dense-table-panel-table td {
  padding: $padding-small $padding-small;
  &.text-center {
    padding: $padding-small $padding-large;
  }
}

.dense-table-panel-table td p {
  margin-top: 0em;
  margin-bottom: 0em;
}

.table-panel-table td:first-child {
  padding-left: $padding-large;
}

.table-panel-table th:first-child .table-panel-table-header-inner {
  padding: $padding-large 0 $padding-large $padding-large;
}

.table-panel-table th:last-child {
  padding-right: $padding-large;
}

.table-panel-table th:last-child .table-panel-table-header-inner {
  padding: $padding-large $padding-large;
}

.table-panel-table-header-inner {
  padding: $padding-large 0 $padding-large $padding-large;
}

.dense-table-panel-table .table-panel-width-hack {
  padding: 0 $padding-small;
}

.table-panel-width-hack {
  padding: 0 $padding-large;
}

.table-panel-page-refresh {
  padding-left: 3rem;
  color: $blue;
  i {
    padding-right: .25rem;
  }
}

.alarm-details-table td p {
  margin-top: $padding-small;
  margin-bottom: $padding-small;
}

td.onms-checkbox {
  padding-left: 10px;
  /* font-size: larger; */
}

.severity-icon {
  padding-left: 10px;
  margin-left: -5px;
  padding-right: 10px;
  margin-right: -5px;
}

$severity-font-weight: normal;

.severity {
  .indeterminate {
    @include severity-background-color('indeterminate');
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  .cleared {
    @include severity-background-color('cleared');
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  .normal {
    @include severity-background-color('normal');
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  .warning {
    @include severity-background-color('warning');
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  .minor {
    @include severity-background-color('minor');
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  .major {
    @include severity-background-color('major');
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  .critical {
    @include severity-background-color('critical');
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  // for whole-row highlighting, always use dark text
  tr.indeterminate,
  tr.cleared,
  tr.normal,
  tr.warning,
  tr.minor,
  tr.major,
  tr.critical {
    color: $cell-dark-color;
  }
}

.alarm-table td {
  vertical-align: top;
}

.alarm-table .selected {
  background-color: $selected-cell-no-severity-background-color;
}

@mixin severity-highlight($severity) {
  @include severity-background-color-light($severity);
  color: $cell-dark-color;
}

.alarm-table .severity .selected .indeterminate {
  @include severity-highlight('indeterminate');
}

.alarm-table .severity .selected .cleared {
  @include severity-highlight('cleared');
}

.alarm-table .severity .selected .normal {
  @include severity-highlight('normal');
}

.alarm-table .severity .selected .warning {
  @include severity-highlight('warning');
}

.alarm-table .severity .selected .minor {
  @include severity-highlight('minor');
}

.alarm-table .severity .selected .major {
  @include severity-highlight('major');
}

.alarm-table .severity .selected .critical {
  @include severity-highlight('critical');
}

.alarm-table tr.next-selected td {
  border-bottom: 2px dashed $selected-cell-border-color;
}

.alarm-table tr.prev-selected td {
  border-top: 2px dashed $selected-cell-border-color;
}

.alarm-table tr {
  border-left: 2px solid $cell-border-color;
  border-right: 2px solid $cell-border-color;

  td {
    border: 2px solid $cell-border-color;

    &:not(:first-child):not(:last-child) {
      border-left: 2px solid $cell-border-color;
      border-right: 2px solid $cell-border-color;
    }
  }
}

.alarm-table tr.selected {
  border: 2px dashed $selected-cell-border-color;

  td {
    border: 2px dashed $selected-cell-border-color;

    &:not(:first-child):not(:last-child) {
      border-left: 2px solid $cell-border-color;
      border-right: 2px solid $cell-border-color;
    }
  }
}

.alarm-table tr:hover {
  background-color: $selected-cell-no-severity-background-color;
}

.alarm-table tr.indeterminate:hover {
  @include severity-highlight('indeterminate');
}

.alarm-table tr.cleared:hover {
  @include severity-highlight('cleared');
}

.alarm-table tr.normal:hover {
  @include severity-highlight('normal');
}

.alarm-table tr.warning:hover {
  @include severity-highlight('warning');
}

.alarm-table tr.minor:hover {
  @include severity-highlight('minor');
}

.alarm-table tr.major:hover {
  @include severity-highlight('major');
}

.alarm-table tr.critical:hover {
  @include severity-highlight('critical');
}

.gf-form-no-margin {
  margin-bottom: .0rem !important;
}

.gf-form-help-icon {
  &--onms-refresh {
    float: right;
    padding-top: .5rem;
    padding-right: 1rem;
  }
}

.gf-smaller-form-label {
  padding: .5rem .5rem !important;
  font-size: .5rem !important;
}

.dropdown-menu-with-smaller-form-label {
  font-size: .875rem !important;
}

.picked-up {
  opacity: 0.3;
}

.over {
  outline: 1px dotted red;
  outline-offset: 5px;
}

$details-header-font-weight: 500;

.alarm-details {
  .filter-table {
    width: auto;
  }
  .modal-header-title {
    font-weight: $details-header-font-weight;
  }
  .modal-content {
    overflow: auto;
  }
}

.alarm-details-table {
  th {
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: $details-header-font-weight;
    vertical-align: text-top;
  }
  td {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .wrap {
    white-space: normal;
    overflow-wrap: break-word;
  }
  .severity-icon span {
    margin-left: -10px;
    padding: 10px;
  }

  tbody {
    &.alarm-details-node-group {
      border: 0 !important;
      border-image-width: 0 !important;
      background-color: $alarm-node-group-bg;
      outline: 1px solid $alarm-node-group-border-color !important;
      box-shadow: $alarm-node-group-shadow !important;
    }
    .alarm-details-node-header {
      border: 0 !important;
      border-image-width: 0 !important;
      pointer-events: none;
    }
    .alarm-details-node-spacer {
      border: 0 !important;
      border-image-width: 0 !important;
      pointer-events: none;
      height: 1rem;
    }

    .log-message {
      max-height: $grafana-default-table-line-height * 2;
      overflow-y: auto;
    }
    .description {
      max-height: $grafana-default-table-line-height * 5;
      overflow-y: auto;
    }
    .operator-instructions {
      max-height: $grafana-default-table-line-height * 10;
      overflow-y: auto;
    }
  }

  tr {
    border-left: 2px solid $alarm-details-border-color;
    border-right: 2px solid $alarm-details-border-color;

    td {
      border: 2px solid $alarm-details-border-color;

      &:not(:first-child):not(:last-child) {
        border-left: 2px solid $alarm-details-border-color;
        border-right: 2px solid $alarm-details-border-color;
      }
    }
  }

  .alarm-details-header {
    font-size: 1.125rem;
    font-weight: $details-header-font-weight;
    padding: .125rem;
    margin: 0;
    background: $alarm-details-header;
    border-top: 2px solid $cell-border-color;
    border-bottom:2px solid $cell-border-color;

    &.node-header, th {
      padding-left: .75em !important;
    }
  }

  .feedback-table {
    table-layout: fixed;
  }

  .feedback-button-td {
    box-sizing: content-box;
    vertical-align: baseline;
    display: table-cell;
    padding: 0 0 0 0 !important;
  }

  .feedback-button-div {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    padding: 0 0 0 0;
    padding-bottom: 0;
    display: inline-block;
  }

  .feedback-button {
    background-color: #262628;
    color: white;
    display: block;
    font-size: 10px;
    text-align: center;
    padding: 10px;
    widows: 100%;
    height: 100%;
    box-sizing: content-box;
    border-radius: 0px;
  }

  .feedback-button-correct {
    background-color: #299c46;
  }

  .feedback-button-incorrect {
    background-color: #ca4333;
  }

  .feedback-button-root-cause {
    background-color: #9030C0;
  }

}

.alarm-detail-logmessage {
  overflow: hidden;
  height: 20px;
}

.feedback-tag-input {
  display: inline !important;
  padding: 0 0 !important;
}

.feedback-tag-element {
  background-color: #262628 !important;
  border-color: antiquewhite !important;
}
