$ionicons-font-path: '../../../../node_modules/ionicons/fonts';

@import '~ionicons/scss/ionicons';
@import 'colors';

$padding-small: 0.25em;
$padding-large: 0.50em;

.table-panel-container {
  padding-top: 2.45em;
}

.table-panel-header-bg {
  height: 2.25em;
}

.table-panel-table {
  td:first-child, td:last-child {
    &.text-center {
      padding-left: $padding-small;
      padding-right: $padding-small;
    }
  }
}

.dense-table-panel-table {
  td:first-child, td:last-child {
    &.text-center {
      padding-left: $padding-small;
      padding-right: $padding-small;
    }
  }
}

.dense-table-panel-table td {
  padding: $padding-small $padding-small;
  &.text-center {
    padding: $padding-small $padding-large;
  }
}

.dense-table-panel-table td p {
  margin-top: 0em;
  margin-bottom: 0em;
}

.table-panel-table td:first-child {
  padding-left: $padding-large;
}

.table-panel-table th:first-child .table-panel-table-header-inner {
  padding: $padding-large 0 $padding-large $padding-large;
}

.table-panel-table th:last-child {
  padding-right: $padding-large;
}

.table-panel-table th:last-child .table-panel-table-header-inner {
  padding: $padding-large $padding-large;
}

.table-panel-table-header-inner {
  padding: $padding-large 0 $padding-large $padding-large;
}

.dense-table-panel-table .table-panel-width-hack {
  padding: 0 $padding-small;
}

.table-panel-width-hack {
  padding: 0 $padding-large;
}

.alarm-details-table td p {
  margin-top: $padding-small;
  margin-bottom: $padding-small;
}

td.onms-checkbox {
  padding-left: 10px;
  /* font-size: larger; */
}

.severity-icon {
  padding-left: 10px;
  margin-left: -5px;
  padding-right: 10px;
  margin-right: -5px;
}

$severity-font-weight: normal;
$indeterminate-color: #990000;
$cleared-color: #EEE000;
$normal-color: #86B15B;
$warning-color: #FCCC3B;
$minor-color: #EE901C;
$major-color: #E3692F;
$critical-color: #DB4345;

.severity {
  .indeterminate {
    background-color: $indeterminate-color;
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  .cleared {
    background-color: $cleared-color;
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  .normal {
    background-color: $normal-color;
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  .warning {
    background-color: $warning-color;
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  .minor {
    background-color: $minor-color;
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  .major {
    background-color: $major-color;
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  .critical {
    background-color: $critical-color;
    color: $cell-text-color;
    font-weight: $severity-font-weight;
  }

  // for whole-row highlighting, always use dark text
  tr.indeterminate,
  tr.cleared,
  tr.normal,
  tr.warning,
  tr.minor,
  tr.major,
  tr.critical {
    color: $cell-dark-color;
  }
}

.alarm-table td {
  vertical-align: top;
}

.alarm-table .selected {
  background-color: $selected-cell-no-severity-background-color;
}

.alarm-table > .severity > .indeterminate {
  background-color: lighten($indeterminate-color, 25%);
}

.alarm-table > .severity > .selected.cleared {
  background-color: lighten($cleared-color, 25%);
}

.alarm-table >.severity > .selected.normal {
  background-color: lighten($normal-color, 25%);
}

.alarm-table > .severity > .selected.warning {
  background-color: lighten($warning-color, 25%);
}

.alarm-table > .severity > .selected.minor {
  background-color: lighten($minor-color, 25%);
}

.alarm-table > .severity > .selected.major {
  background-color: lighten($major-color, 25%);
}

.alarm-table > .severity > .selected.critical {
  background-color: lighten($critical-color, 35%);
}

.alarm-table tr.next-selected td {
  border-bottom: 2px dashed $selected-cell-border-color;
}

.alarm-table tr.prev-selected td {
  border-top: 2px dashed $selected-cell-border-color;
}

.alarm-table tr {
  border-left: 2px solid $cell-border-color;
  border-right: 2px solid $cell-border-color;

  td {
    border: 2px solid $cell-border-color;

    &:not(:first-child):not(:last-child) {
      border-left: 2px solid $cell-border-color;
      border-right: 2px solid $cell-border-color;
    }
  }
}

.alarm-table tr.selected {
  border: 2px dashed $selected-cell-border-color;

  td {
    border: 2px dashed $selected-cell-border-color;

    &:not(:first-child):not(:last-child) {
      border-left: 2px solid $cell-border-color;
      border-right: 2px solid $cell-border-color;
    }
  }
}

.alarm-table tr:hover {
  background-color: $selected-cell-no-severity-background-color;
}

.alarm-table tr.indeterminate:hover {
  background-color: lighten($indeterminate-color, 25%);
}

.alarm-table tr.cleared:hover {
  background-color: lighten($cleared-color, 25%);
}

.alarm-table tr.normal:hover {
  background-color: lighten($normal-color, 25%);
}

.alarm-table tr.warning:hover {
  background-color: lighten($warning-color, 25%);
}

.alarm-table tr.minor:hover {
  background-color: lighten($minor-color, 25%);
}

.alarm-table tr.major:hover {
  background-color: lighten($major-color, 25%);
}

.alarm-table tr.critical:hover {
  background-color: lighten($critical-color, 25%);
}

.gf-form-no-margin {
  margin-bottom: .0rem !important;
}

.gf-smaller-form-label {
  padding: .5rem .5rem !important;
  font-size: .5rem !important;
}

.dropdown-menu-with-smaller-form-label {
  font-size: .875rem !important;
}

.picked-up {
  opacity: 0.3;
}

.over {
  outline: 1px dotted red;
  outline-offset: 5px;
}

$details-header-font-weight: 500;

.alarm-details {
  .modal-header-title {
    font-weight: $details-header-font-weight;
  }
}

.alarm-details-table {
  th {
    font-size: 1.125rem;
    font-weight: $details-header-font-weight;
  }

  tbody {
    &.alarm-details-node-group {
      border: 0 !important;
      border-image-width: 0 !important;
      background-color: $alarm-node-group-bg;
      outline: 1px solid $alarm-node-group-border-color !important;
      box-shadow: $alarm-node-group-shadow !important;
    }
    .alarm-details-node-header {
      border: 0 !important;
      border-image-width: 0 !important;
      pointer-events: none;
    }
    .alarm-details-node-spacer {
      border: 0 !important;
      border-image-width: 0 !important;
      pointer-events: none;
      height: 1rem;
    }
  }

  tr {
    border-left: 2px solid $alarm-details-border-color;
    border-right: 2px solid $alarm-details-border-color;

    td {
      border: 2px solid $alarm-details-border-color;

      &:not(:first-child):not(:last-child) {
        border-left: 2px solid $alarm-details-border-color;
        border-right: 2px solid $alarm-details-border-color;
      }
    }
  }

  .alarm-details-header {
    font-size: 1.125rem;
    font-weight: $details-header-font-weight;
    padding: .125rem;
    margin: 0;
    background: $alarm-details-header;
    border-top: 2px solid $cell-border-color;
    border-bottom:2px solid $cell-border-color;

    &.node-header, th {
      padding-left: .75em !important;
    }
  }

  .feedback-table {
    table-layout: fixed;
  }

  .feedback-button-td {
    box-sizing: content-box;
    vertical-align: baseline;
    display: table-cell;
    padding: 0 0 0 0 !important;
  }

  .feedback-button-div {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    padding: 0 0 0 0;
    padding-bottom: 0;
    display: inline-block;
  }

  .feedback-button {
    background-color: #262628;
    color: white;
    display: block;
    font-size: 10px;
    text-align: center;
    padding: 10px;
    widows: 100%;
    height: 100%;
    box-sizing: content-box;
    border-radius: 0px;
  }

  .feedback-button-correct {
    background-color: #299c46;
  }

  .feedback-button-incorrect {
    background-color: #ca4333;
  }

  .feedback-button-root-cause {
    background-color: #9030C0;
  }

}

.alarm-detail-logmessage {
  overflow: hidden;
  height: 20px;
}

.feedback-tag-input {
  display: inline !important;
  padding: 0 0 !important;
}

.feedback-tag-element {
  background-color: #262628 !important;
  border-color: antiquewhite !important;
}