@import 'colors';

$cell-text-color: $cell-dark-color;
$cell-border-color: $gray-7;

$selected-cell-no-severity-background-color: lightblue;
$selected-cell-border-color: darkblue;

$alarm-node-group-bg: transparent;
$alarm-node-group-border-color: $gray-4; // grafana $page-header-border-color
$alarm-node-group-shadow: inset 0px -3px 10px $gray-6; // grafana $page-header-shadow

$alarm-details-border-color: $gray-6;

$alarm-details-header: linear-gradient(135deg, $gray-6, $gray-5); // from grafana _variables.light.scss

@import 'table';
