<div ng-controller="OpenNMSModalSelectionCtrl as ctrl">
    <div class="modal-header">
        <div class="gf-form-inline">
            <div class="gf-form">
                <span class="width-4">
                    Search:
                </span>
                <input type="text"
                       class="tight-form-input"
                       ng-model="ctrl.query"
                       placeholder="query"
                       ng-change="ctrl.searchForRows()"
                       data-min-length=0 data-items=100
                >
            </div>
        </div>
    </div>

    <div class="modal-body modal-selector">
        <div class="row-fluid">
            <div ng-show="ctrl.searching" class="text-center">
                <i class="fa fa-spinner fa-4x fa-spin"></i>
            </div>
            <div ng-show="!ctrl.searching">
                <div ng-show="!ctrl.rows.length">
                    <h5 class="text-center">No results.</h5>
                </div>
                <table class="table table-condensed" ng-show="ctrl.rows.length">
                    <thead>
                    <tr>
                        <th data-ng-repeat="(key,value) in ctrl.$scope.columns">{{ key }}</th>
                    </tr>
                    </thead>
                    <tbody style="height: 30px; overflow-y: scroll">
                    <tr ng-repeat="row in ctrl.rows" ng-class="{'label-tag':$index == ctrl.selectedRow}"
                        ng-click="ctrl.setClickedRow($index)">
                        <td data-ng-repeat="(key,value) in ctrl.$scope.columns">{{row[value]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div ng-show="!ctrl.searching && ctrl.rows.length" class="col-md-4 page-detail-text"><b>{{ ctrl.offset + 1 }} - {{ ctrl.count }}</b> of <b>{{
                ctrl.totalCount }}</b> {{ ctrl.$scope.label }}.
            </div>

            <div ng-show="!ctrl.searching && ctrl.rows.length" class="col-md-4 change-page-div">
                <button ng-disabled="ctrl.currentPage == 0" ng-click="ctrl.prevPage()" class="change-page-btn">Previous</button>
                {{ctrl.currentPage + 1}}/{{ctrl.numberOfPages}}
                <button ng-disabled="(ctrl.currentPage + 1) >= ctrl.numberOfPages" ng-click="ctrl.nextPage()" class="change-page-btn">Next</button>
            </div>

            <div ng-class="!ctrl.searching && ctrl.rows.length ? 'col-md-4' : 'no-result-found'">
                <button type="button" class="btn btn-success" ng-click="ctrl.cancel();">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="ctrl.ok()" ng-show="!ctrl.searching && ctrl.rows.length" ng-disabled="ctrl.selectedRow == null">Select</button>
            </div>
        </div>
    </div>
</div>