<div class="section gf-form-group">
    <h3 class="page-heading">
        Miscellaneous HTTP Settings
    </h3>
    <div class="gf-form-group">
        <div class="gf-form-inline">
            <div class="gf-form">
                <label class="gf-form-label width-12">ReST Timeout (Seconds)</label>
                <input type="text" class="gf-form-input width-4" ng-model="ctrl.current.jsonData.timeout" ng-pattern="ctrl.patterns.number" placeholder="10">
            </div>
        </div>
    </div>
</div>